.navbar{
          background-color: #696969;
          
        }
.form-group{
	color:white;
}
.space{
	margin-left: 5px;
}
.space1{
	margin-top: 5px;
	
}
.space2{
	margin-top:1px;
}
#content{
	
	padding-top: 25%;
}
.white{
	color:white;
}
.black{
	color:black;
}

body{
        background: url(Foodimg.jpg);
        background-size: cover;
     	background-position: center;
     	height: calc(100vh);
        min-height: 700px;
        position:relative;
        padding-top:3rem;
        background-repeat: no-repeat;
}

